*
  box-sizing: border-box
body
  background-color: $background
@font-face
  font-family: 'Lato', sans
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),url('../fonts/Lato-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),url('../fonts/Lato-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato-Black.woff2') format('woff2'),url('../fonts/Lato-Black.woff') format('woff')
  font-weight: 900
  font-style: normal
.container
  max-width: 1140px
  margin: auto
img
  height: 100%
  max-width: 100%
.button
  color: $light
  border-radius: 20px
  background-color: $button-color
  border: none
  cursor: pointer
a
  text-decoration: none
  color: inherit
.title
  margin: 0
  font-family: 'Roboto Slab', sans
  font-style: normal
  font-weight: bold
  &--small_black
    font-size: 16px
    line-height: 25px
    color: $black
  &--small_light
    font-size: 16px
    line-height: 25px
    color: $light
  &--medium_black
    font-size: 20px
    line-height: 25px
    color: $black
  &--big_black
    font-size: 25px
    line-height: 30px
    color: $black
  &--large_light
    font-size: 40px
    line-height: 50px
    color: $light
  &--super-large_light
    font-size: 55px
    line-height: 70px
    color: $light
.text
  margin: 0
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 20px
.tag
  font-family: Lato
  font-style: normal
  font-weight: 900
  font-size: 12px
  line-height: 15px
  letter-spacing: 0.5px
  text-transform: uppercase
  &--css
    color: #3DC47E
  &--javascript
    color: #4592FF
  &--html
    color: #AC8EE3
  &--web
    color: #FFA34D
  &--web_light
    color: #E7D9FF
  &--article
    color: #6E99AE
  &--new
    color: #4592FF
  &--opinion
    color: #3BBDC4
  &--hot
    color: #FF4F52
  &--compilations
    color: #AC8EE3
  &--career
    color: #6E99AE

.view-group
  display: flex
  align-items: center
  &__icon
    width: 15px
    height: 15px
  &__number
    margin-left: 5.12px
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: #939699
    margin-right: 10px

.message-group
  display: flex
  &__icon
    width: 14.5px
    height: 13px
    &--light
      opacity: 0.4
  &__number
    margin-left: 5.75px
    display: block
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: #939699
    &--light
      opacity: 0.4
      color: $light
.like-group
  display: flex
  &__icon
    width: 15px
    height: 13px
    &--light
      opacity: 0.4
  &__number
    margin-left: 5.12px
    font-family: Lato
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: #939699
    &--light
      opacity: 0.4
      color: $light
.date
  font-family: Lato
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 15px
  color: #939699
  &-group
    display: flex
    margin-right: 20px
    &__icon
      width: 13.5px
      height: 13.5px
      margin-right: 7px
      margin-bottom: 2px
  &--light
    opacity: 0.4
    color: $light
.invalid
  color: red
  left: 0
  bottom: 0
label.invalid
  position: absolute
  bottom: 19px
  left: 7px
  font-size: 11px
  border-bottom: 1px solid red
