*
  box-sizing: border-box
body
  background-color: $background
@font-face
  font-family: 'Lato', sans
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),url('../fonts/Lato-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),url('../fonts/Lato-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato-Black.woff2') format('woff2'),url('../fonts/Lato-Black.woff') format('woff')
  font-weight: 900
  font-style: normal
.container
  max-width: 1140px
  margin: auto
img
  max-height: 100%
  max-width: 100%
.button
  color: $light
  border-radius: 20px
  background-color: $button-color
  border: none
  cursor: pointer
a
  text-decoration: none
