.articles
  padding-top: 60px
  padding-bottom: 60px
  &-wrapper
    display: grid
    grid-template-columns: repeat (2, 1fr)
    grid-template-rows: 770px, 700px
    column-gap: 29px
  &__main
    grid-column: 1
    grid-row: span 2
    border-radius: 10px
    overflow: hidden
    background-color: $light
  &__card
    display: flex
    padding: 25px 25px 24px 25px
  &__delimiter
    width: 798px
    height: 1px
    background-color: #D9DADB
    margin-left: 25px
  &__info
    display: flex
    flex-direction: column
    position: relative
  &__tag
    display: block
    margin-top: 4px
    width: 267px
    height: 15px
    margin-bottom: 15px
    overflow: auto
  &__bookmark
    &-wrapper
      position: absolute
      top: 0
      right: 0
      width: 20px
      height: 20px
      cursor: pointer
  &__image
    object-fit: cover
    &-wrapper
      flex-shrink: 0
      margin-right: 25px
      width: 336px
      height: 195px
  &__title
    width: 437px
    max-height: 50px
    margin-bottom: 11px
    overflow: auto
  &__text
    width: 437px
    height: 60px
    flex-grow: 1
    margin-bottom: 20px
    overflow: auto
  &__rating
    display: flex
    margin-bottom: 5px
  &__date
    margin-right: 11px
    max-width: 68px
    overflow: auto
    height: 15px
  &__message-number
    margin-right: 11.12px
    max-width: 60px
    height: 15px
    overflow: auto
  &__like-number
    max-width: 60px
    height: 15px
    overflow: auto
  &__recent
    grid-column: 2
    grid-row: 1
    background-color: $light
    border-radius: 10px
    overflow: hidden
    &-card
      position: relative
      display: flex
      padding: 18px 25px 16px 25px
      cursor: pointer
    &-bc-number
      position: absolute
      top: 22px
      right: 25px
      width: 41px
      height: 50px
      opacity: 0.8
    &-delimiter
      width: 213px
      height: 1px
      margin-left: 25px
      background-color: #D9DADB
    &-wrapper
      flex-shrink: 0
      margin-right: 10px
      width: 60px
      height: 60px
    &-image
      object-fit: cover
    &-title
      width: 263px
      padding: 20px 10px 17px 26px
      height: 59px
      overflow: auto
      border-bottom: 1px solid #D9DADB
      text-transform: uppercase
      font-weight: 900
      letter-spacing: 0.5px
    &-readmore
      padding: 10px
      display: flex
      justify-content: center
      align-items: center
      height: 45px
      overflow: auto
      width: 245px
      margin-left: 9px
      border-top: 1px solid #D9DADB
      font-weight: 900
      cursor: pointer
    &-name
      width: 143px
      height: 40px
      overflow: auto
      margin-bottom: 5px
    &-time
      display: block
      width: 143px
      height: 15px
      overflow: auto
path
  &.active
    fill: #FF4F52
