.content
  &__main
    &-card
      width: 555px
      padding-top: 15px
      display: flex
      flex-wrap: wrap
      background-color: $light
      border-radius: 10px
    &-info
      padding: 20px 0 0 35px
    &-title
      margin-bottom: 25px
      margin-top: 20px
      width: 228px
    &-text
      width: 228px
    &-image-wrapper
      object-fit: cover
      width: 292px
      height: 299px
    &-delimiter
      width: 555px
      height: 1px
      color: #D9DADB
    &-footer
      width: 555px
      padding: 14px 35px 12px 35px
      display: flex
      align-items: center
      &-text
        margin-left: 5px
        margin-right: 15px
    &-author-group
      display: flex
      align-items: center
    &-avatar
      width: 30px
      height: 30px
      border-radius: 50%
    &-name
      margin-left: 10px
      font-family: Lato
      font-style: normal
      font-weight: 900
      font-size: 14px
      line-height: 20px
