.header
  padding: 15px 0
  background-color: $dark
  font-family: 'Lato', sans
  font-style: normal
  font-size: 14px
  line-height: 20px
  &-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
  &__link
    max-width: 101px
    max-height: 40px
    text-align: center
    overflow: hidden
    font-weight: 900
    color: $light
    font-size: 14px
    line-height: 20px
    font-weight: 900
  .menu-wrapper
    margin-top: 6px
    display: flex
    justify-content: space-between
    width: 540px
  &__button
    max-width: 292px
    max-height: 58px
    overflow: hidden
    font-weight: normal
    margin-top: -4px
    padding: 13px 66px 13px 64px
    border: none
    border-radius: 10px
    background-color: #656B70
    color: $light
    text-transform: uppercase
    &-menu
      display: none
