.more-articles
  background-color: #F5F5F5
  padding: 60px 0 90px
  &__card
    display: flex
    flex-direction: column

    width: 263px

    cursor: pointer
  &__image
    width: 100%
    height: 100%
    object-fit: cover
    &-wrapper
      height: 180px
      border-radius: 10px
      overflow: hidden
      margin-bottom: 16px
  &__title
    max-height: 50px
    margin-bottom: 16px
    overflow: auto

  &__wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    &-info
      display: flex
.thank-you
  background-color: $light
  &__title
    padding-top: 50px
    padding-bottom: 50px
    margin: 0
    color: #262d33
    font-family: "Roboto Slab",sans
    font-style: normal
    font-weight: bold
  &__button
    padding: 13px 25px 13px
    max-width: 200px
    height: 40px
    font-family: Lato
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
    overflow: auto
